footer {
  background: $primary;
  color: $white;
  padding: 15px 0 140px;
}

.links {
  margin-bottom: 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li a {
      display: block;
      font-size: 14px;
      color: $white;
      padding: 10px 0px;
      text-decoration: underline;
    }
  }
}

.copyright {
  p {
    font-size: 12px;
    margin-bottom: 20px;
  }
}



@media (min-width: $screen-md-min) {
  footer {
    padding: 50px 0 40px;
  }

  .links {

    ul {

      li {
        float: left;

        &:first-child a {
          padding-left: 0;
        }

        &:last-child a {
          border-right: none;
        }

        a {
          padding: 0px 10px;
          border-right: 1px solid #fff;
          text-decoration: none;

        }
      }
    }
  }



}
