/************* Header ***************/
.header {
  background: $bodygrey;
  padding-top: 30px;
}

.logo {
  float: left;
  padding-top: 12px;
  padding-bottom: 6px;

  a {
    float: left;
    padding-top: 3px;
  }

  img {
    width: 100%;
    max-width: 115px;
  }

  .menu-trigger {
    float: left;
    padding-right: 10px;
  }

  .hamburger {
    width: 26px;
    height: 32px;
    padding: 0;
    display: inline-block;
    position: relative;
    background: transparent;
    border: none;
    outline: none;

    span {
      width: 26px;
      display: block;
      height: 3px;
      border-radius: 3px;
      margin: 5px 0;
      background: $black;
    }
  }
}

.nav-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        display: block;
        font-size: 14px;
        padding: 15px 10px;
        text-decoration: none;
        color: $black;
        font-weight: bold;
      }
    }
  }
}
 
.points-summary {
  float: right;
  color: $black;
  padding-top: 10px;
  padding-left: 10px;
  .summary{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    a{
      color: $black;
      .desc {
        font-size: 14px;
      }
      .points {
        display: block;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
      }
      &:hover{
        text-decoration: none;
      }
    }
    .dropdown-menu{
      padding: 10px;
      text-align: center;
      top: 67px;
      border-radius: 0;
      background-color: $contentgrey;
      border: none;
      p{
        font-size: 18px;
        font-weight: 600;
        color: $black;
      }
      .tier{
        width: 40px;
        height: 40px;
        color: $white;
        font-size: 30px;
        line-height: 39px;
        background-color: #a26f00;
        margin-right: 10px;
        border-radius: 50%;
        padding: 3px 10px;
        text-align:center;
        &~span{
          display: inline;
          float: right;
        }
      }
      li{
        display: block;
        margin: 10px 0 0;
        a{
          color: #0d90f0;
          font-weight: 600;
        }
      }
      @media screen and (max-width: 768px){
        top:63px;
      }
    }
  }
  @media screen and (max-width: 768px){
    .summary{
      a{
        .points{
          font-size: 16px;
        }
      }
    }
  }
}
.placeholder-header{
    position: relative;  
    color: black;
    font-size: 0;
}
/*** overrides **/
.navbar-collapse {
  padding-right: 1px;
  padding-left: 0px;
  width: 100%;
}

@media (max-width: 992px) {
  .navbar-collapse {
    clear: both;
  }
  .header{
    padding: 10px 0;
  }
}

@media (min-width: 768px) {
  .menu-trigger {
    display: none;
  }
  .nav-menu {
    float: left;

    ul {
      padding: 25px 0;

      li {
        float: left;
        padding: 0 22px;

        a {
          padding: 0;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .logo {
    padding: 15px 40px 0 0;
    width: auto;
    a {
      float: none;
      width: 100%;
      padding-top: 0;
    }
  }
  /*** overrides **/
  .navbar-collapse {
    padding: 0;
  }
}
