/*Hero Component Specific CSS*/

.us-banner {
  overflow: hidden;

  .us-head-text {
    color: #0e1e69;
    text-align: center;
    padding: 10px 0px 20px;
    font-weight: 600;
    font-size: 44px;
    line-height: 0.84;
  }

  .banner-wrap.usb-banner-slider {
    overflow: hidden;
    margin: 0 -50px;
  visibility: hidden;
  &.slick-initialized{
    visibility: visible;
  }
    .slick-slide {
      height: auto;
    }


    .slick-prev {
      left: 48%;
      bottom: 0;
      top: auto;
      margin-left: -50px;
      z-index: 999;
      width: 21px;
      height: 21px;
      background-color: #fff;
      border-radius: 50%;

      img {
        margin-right: 2px;
      }

      &:before {
        content: none;
      }

      &.slick-disabled {
        opacity: 0.6;
      }
    }

    .slick-next {
      right: 48%;
      margin-right: -50px;
      bottom: 0;
      top: auto;
      width: 21px;
      height: 21px;
      background-color: #fff;
      border-radius: 50%;
      z-index: 999;
      line-height: 21px;

      img {
        margin-left: 2px;
      }

      &:before {
        content: none;
      }

      &.slick-disabled {
        opacity: 0.6;
      }
    }

    .slick-dots {
      bottom: 8px;
      left: 4px;
      display: inline-block;

      li {
        button {
          &:before {
            content: " ";
            opacity: 1;
            background-color: #fffffd;
            width: 14px;
            height: 14px;
            border-radius: 50%;
          }
        }

        &.slick-active {
          button {
            &:before {
              background-color: #167db7;
            }
          }
        }
      }
    }

    .banner-content {
      max-width: 100%;
      position: relative;
      margin-left: -1px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: skewX(-13deg);

      &:first-of-type {
        margin-left: 0;
        z-index: 0;
      }

      .banner-img {
        overflow: hidden;
        transform: skewX(13deg) scale(1.3);
      }

      &:first-of-type .banner-img img {
        transform: scale(1.2);
        margin-left: -10%;
      }

      &:last-of-type .banner-img img {
        margin-left: 5%;
        transform: scale(1.2);
      }

      .banner-img {
        &::before {
          content: " ";
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          z-index: 9;
        }

        img {
          max-width: 100%;
          transition: all 8s ease;
          -moz-transition: all 8s ease;
          -ms-transition: all 8s ease;
          -webkit-transition: all 8s ease;
          -o-transition: all 8s ease;
        }
      }

      .banner-cta {
        position: absolute;
        transform: skewX(13deg);
      }

      &:first-of-type .banner-cta {
        left: 30%;
      }

      &:last-of-type .banner-cta {
        left: 15%;
      }

      &:hover .banner-img img {
        transform: scale(1.5);
        transition: all 12s ease;
        -moz-transition: all 12s ease;
        -ms-transition: all 12s ease;
        -webkit-transition: all 12s ease;
        -o-transition: all 12s ease;
      }

      .banner-cta .btn-usbanner {
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 4px;
        color: #0e1e69;
        font-size: 22px;
        font-weight: bold;
        width: 100%;
        padding: 12px 10px;
        text-align: left;
        line-height: 1.5;

        img {
          float: right;
          margin-left: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .us-banner {
    .banner-wrap.usb-banner-slider {
      display: block;
      margin: 0 auto;

      .slick-prev {
        left: 32%;
      }

      .slick-next {
        right: 32%;
      }

      .banner-content {
        transform: skewX(0deg);

        .banner-img {
          transform: skewX(0deg) scale(1);
        }

        .banner-cta {
          transform: skewX(0deg);
          width: 100%;
          padding: 0 14px;
        }

        &:last-of-type .banner-cta,
        &:first-of-type .banner-cta {
          left: auto;
        }

        &:first-of-type,
        &:last-of-type {
          .banner-img {
            img {
              transform: scale(1);
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
      }
    }

    .us-head-text {
      font-size: 29px;
      line-height: 37px;
      color: #fff;
      position: absolute;
      top: 40px;
      z-index: 9;
      left: 0;
      padding: 10px 10px 20px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .us-banner {
    .banner-wrap.usb-banner-slider {
      .slick-prev {
        left: 47.5%;
      }

      .banner-content {
        .banner-cta {
          .btn-usbanner {
            padding: 6px 12px;
            font-size: 18px;
            line-height: 1.3;

            img {
              max-width: 26px;
              margin-left: 12px;
            }
          }
        }
      }
    }

    .us-head-text {
      font-size: 35px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {}

@media (min-width: 1200px) and (max-width: 1366px) {
  .us-banner .banner-content:last-of-type .banner-cta {
    left: 10%;
  }
}
