/*Hero Component Specific CSS*/
.zbank-banner{
	position: relative;
	.banner-wrap{
		img{
			width: 100%;
			max-width: 100%;
		}
		.banner-content{
			position: absolute;
			top: 50%;
			transform: translate(0%, -70%);
			width: 100%;
			h1{
				color: $white;
				font-size: 50px;
				line-height: 60px;
				letter-spacing: -0.5px;
				font-family: "Avenir-Medium", "Open Sans";
				position: relative;
				padding-bottom: 18px;
				&:after{
					content:"";
					position: absolute;
					left: 0;
					bottom: 0;
					height: 6px;
					width: 206px;
					background-color: #0d90f0;
				}
			}
			p{
				color: $white;
				font-size: 16px;
				margin-top: 20px;
			}
			.bg-red-btn{
				background-color: $primary;
				padding: 8px 15px;
				color: $white;
				display: inline-block;
				font-weight: 600;
				margin-top: 20px;
			}
		}
	}
	@media (max-width: 768px){
		.banner-wrap{
			img{
				display: none;			
			}
			.banner-content{
				padding: 20px 20px 30px;
				position: relative;
				background-color: $blue;
				transform: none;
				text-align: center;
				h1{
					font-size: 34px;
					line-height: 40px;
					&:after{
					    transform: translateX(-50%);
					    left: 50%;
					}
				}
				.bg-red-btn{
					width:100%;
				}
			}
		}

	}
}
